:root {
  --main-color: rgb(81, 32, 81);
  --bars-color: #dfdfdf;
}
body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #bebdbdaf;
  padding: 1rem;
  margin-bottom: 20px;
}
#navbar a {
  float: right;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--main-color);
  font-size: 16px;
}

#welcome-section {
  display: block;
  margin-top: 30px;
  background-color: var(--main-color);
  height: 300px;
  width: 100%;
  text-align: center;
}
.welcome {
  display: block;
  margin-top: 60px;
  padding: 50px;
  color: var(--bars-color);
}
.welcome a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
button {
  border: 1px solid var(--main-color);
  border-radius: 2px;
  padding: 10px 25px;
  margin-top: 30px;
  background: linear-gradient(45deg, var(--main-color), white);
}
#projects {
  padding: 2rem;
}
